<ion-view view-title="Vehicles">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-plus-round button-positive" ui-sref="tab.vehicle-detail({profileId : vm.profileId})"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item item-avatar item-toggle" collection-repeat="car in vm.cars">
        <!-- <img ng-src="{{car.vehiclePic}}" ng-if="car.vehiclePic != null"> -->
        <i class="icon ion-model-s" ng-if="car.vehiclePic != null"></i>
        <h2>{{car.vehicleMake}}
          /
          {{car.vehicleModel}}</h2>
        <p ng-if="car.vehicleActiveStatus == true">Active Vehicle</p>
        <p ng-if="car.vehicleActiveStatus == false">Inactive Vehicle</p>
        <label class="toggle">
          <input type="checkbox" ng-model="car.vehicleActiveStatus" ng-change="vm.activeVehicle(car)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        <ion-option-button class="button-assertive icon ion-minus" ng-click="vm.cars.splice($index, 1)"></ion-option-button>
        <ion-option-button class="button-positive icon ion-edit"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
