<ion-view view-title="My Pickup Points">

  <ion-content>
    <!-- Render the cards for user origination and return pickup points -->
    <div class="list card">
      <div class="item item-divider">
        Origination Point to USD
      </div>
      <div class="item item-button-right">
          <p>{{vm.originationPickupName}}</p>
        <button class="button button-stable" ng-click="vm.openModal(1); vm.status = true">
          <i class="icon ion-edit"></i>
        </button>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Return Point from USD
      </div>
      <div class="item item-button-right">
          <p>{{vm.returnPickupName}}</p>
        <button class="button button-stable" ng-click="vm.openModal(2); vm.status = false">
          <i class="icon ion-edit"></i>
        </button>
      </div>
    </div>
  </ion-content>


  <!--Modal-->
  <script id="origination-route.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">Pickups</h1>
        <div class="buttons">
          <button class="button button-icon ion-ios-search" ng-click="vm.showFilterBar()"></button>
        </div>
        <div class="buttons">
          <button class="button button-icon ion-ios-checkmark-outline" ng-click="vm.closeModal()"></button>
        </div>
      </ion-header-bar>
      <ion-header-bar class="bar bar-subheader">
        <h1 class="title">{{vm.routeName}}</h1>
      </ion-header-bar>
      <ion-content>
        <!-- Renders the google maps screen on the route modal page -->
        <div id="map" data-tap-disabled="true"></div>
        <!-- Render the list of all available origination/return pickup points -->
        <ion-list>
          <div class="item item-divider" ng-show="vm.status == true">
            Origination Points
          </div>
          <div class="item item-divider" ng-show="vm.status != true">
            Return Points
          </div>
          <ion-item class="item item-toggle" ng-repeat="pickup in vm.pickups | orderBy: 'locationName'">
            <p>{{pickup.locationName}}</p>
            <label class="toggle">
              <input
               type="checkbox"
               ng-model="pickup.myStartRoute"
               ng-change="vm.activeRoute(pickup)">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-modal-view>
  </script>

</ion-view>
