<ion-view view-title="My Info">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-camera button-positive" ng-click="vm.selfPictureUpdate()"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="row" id="myInfoAvatar">
      <div id="avatarPlaceHolderCircle"></div>
      <div id="avatarPlaceHolder"></div>
      <div id="avatarCircle" ng-show="vm.selfPic === undefined || vm.selfPic === ''">
           <i  class="icon ion-android-person" id="avatarImage"></i>
      </div>
      <img ng-show="vm.selfPic !== undefined" ng-src="{{vm.selfPic}}" id="selfPicHolder">
    </div>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="vm.profile.firstName">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="vm.profile.lastName">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="vm.profile.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Phone</span>
        <input type="text" ng-model="vm.profile.phone">
      </label>
      <label class="item item-input">
        <span class="input-label">School</span>
        <input type="text" ng-model="vm.profile.school">
      </label>
      <div class="row">
        <div class="col-10"></div>
        <div class="col-80">
          <button class="button button-block button-stable" ng-click="vm.updateProfile(vm.profile)">
            Update My Info
          </button>
        </div>
        <div class="col-10"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
