<ion-view view-title="Routes">
  <ion-content>
       <div id="map" data-tap-disabled="true"></div>


    <ion-list>
      <div class="item item-divider">
        Origination Point
      </div>
      <ion-item class="item item-toggle" ng-model="vm.myStartRoute" ng-repeat="route in vm.routes">
        <p>{{route.routeName}}</p>
        <label class="toggle">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
    <ion-list>
      <div class="item item-divider">
        Return Point
      </div>
      <ion-item class="item item-toggle" ng-repeat="route in vm.routes">
        <p>{{route.routeName}}</p>
        <label class="toggle">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
