<ion-view view-title="Set Credentials">
    <ion-content>
        <form action="" class="heightSetting" ng-submit="vm.setCredentials(vm.userCredentials)">
            <div class="list heightSetting">
                <label class="item item-input">
                    <span class="input-label">User</span>
                      <input
                        type="email"
                        name="email"
                        ng-model="vm.userCredentials.email" 
                        required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                      <input
                        type="password"
                        name="password"
                        ng-model="vm.userCredentials.password" 
                        required>
                </label>
                <div class="row authSubmitBtn">
                    <div class="col-10"></div>
                    <div class="col-80">
                      <button class="button button-block button-stable" ng-disabled="userRegistration.$invalid">
                        Submit
                      </button>
                    </div>
                    <div class="col-10"></div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>