/* Empty. Add your own CSS if you like */
/*.pane {
    background-color: #69A7CC;
}*/

/************************
**Top title bar styling**
************************/
.bar.bar-stable {
     background-color: #003B70;
     border-bottom: 3px solid #69A7CC;
}

.bar.bar-stable .title {
     color: #fff;
}

/*************************
**Bottom tab bar styling**
*************************/
.tabs {
     background-color: #003B70;
}

ion-tabs.tabs-color-active-positive .tab-item {
     color: #fff;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
     color: #fff;
}

.scroll-content {
     border-bottom: 4px solid #69A7CC;
}

/**************************
**My Profile page styling**
**************************/
.button.button-stable {
     background-color: #003B70;
     color: #fff;
}


/************************
**Home Tab page styling**
************************/
#homeContent{
     height: 250px;
     position: relative;
}

#avatarPlaceHolderCircle{
     width: 120px;
     height: 120px;
     left: 50%;
     top: 25%;
     position: absolute;
     transform: translate(-50%, -50%);
     border-radius: 100%;
     border-style: solid;
     border-color: #003B70;
     border-width: 6px;
     background-color: #fff;
     z-index: 2;
}

#avatarPlaceHolder{
     width: 110px;
     height: 110px;
     left: 50%;
     top: 25%;
     position: absolute;
     transform: translate(-50%, -50%);
     border-radius: 100%;
     border-style: solid;
     border-color: #69A7CC;
     border-width: 5px;
     z-index: 3;
}

#avatarCircle{
     position: absolute;
     z-index: 4;
     top: 25%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: block;
     width: 100px;
     height: 100px;
     border-radius: 100%;
     background-color: #fff;
}

#avatarImage{
     position: absolute;
     z-index: 5;
     top: 50%;
     left: 50%;
     font-size: 100px;
     transform: translate(-50%, -50%);
     display: block;
     color: #69A7CC;
}

#selfPicHolder {
     position: absolute;
     z-index: 4;
     top: 25%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: block;
     width: 100px;
     height: 100px;
     border-radius: 100%;
}

#homeCard{
     position: absolute;
     top: 10%;
     z-index: 1;
     width: 97%;
}

.card, .list-inset {
     border-radius: 10px;
}

.card .item {
     background-color: #003B70;
     color: #fff;
}

#welcomeMessage {
     text-align: center;
}

b, strong {
     font-size: 18px;
     color: #fff;
}

.item p {
     color: #69A7CC;
}

.button.button-positive {
     background-color: #003B70;
     color: #fff;
}

/***************************
**My Info tab page styling**
***************************/
#myInfoAvatar {
     margin-top: 50px;
     height: 100px;
     position: relative;
}

/***************************
**Vehicle grid tab styling**
***************************/
.item-avatar .item-content > img:first-child {
     border-style: solid;
     border-width: medium;
     border-color: #69A7CC;
     max-width: 50px;
     max-height: 50px;
}

/*i.icon.ion-model-s */
#vehicleAvatar{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 38px;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: medium;
    border-color: #69A7CC;
    border-radius: 100%;
    color: #69A7CC;
    text-align: center;
}

/**********************************
**Google Maps rendering in routes**
**********************************/
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 50%;
}

/*********************************
**Routes modal rendering screens**
*********************************/
.bar-header {
     background-color: #003B70;
     border-bottom: 3px solid #69A7CC;
}

.bar-header .title {
     color: #fff;
}

.bar .button.button-icon,
.bar .button.button-icon {
     color: #fff;
}

.bar-stable
.button.button-clear {
     color: #fff;
}

/*fixes cancel bug related to the search bar within the modal*/
.filter-bar-open.modal-open {
    pointer-events: auto
}
