/* Empty. Add your own CSS if you like */
/*.pane {
    background-color: #69A7CC;
}*/

/************************
**Top title bar styling**
************************/
.bar.bar-stable {
     background-color: #003B70;
     border-bottom: 3px solid #69A7CC;
}

.bar.bar-stable .title {
     color: #fff;
}

/*************************
**Bottom tab bar styling**
*************************/
.tabs {
     background-color: #003B70;
}

ion-tabs.tabs-color-active-positive .tab-item {
     color: #fff;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
     color: #fff;
}

.scroll-content {
     border-bottom: 4px solid #69A7CC;
}

/**************************
**My Profile page styling**
**************************/
.button.button-stable {
     background-color: #003B70;
     color: #fff;
}


/************************
**Home Tab page styling**
************************/
#homeContent{
     height: 250px;
}

#avatarPlaceHolderCircle{
     width: 120px;
     height: 120px;
     left: 50%;
     top: 15%;
     position: absolute;
     transform: translate(-50%, -50%);
     border-radius: 100%;
     border-style: solid;
     border-color: #003B70;
     border-width: 6px;
     background-color: #fff;
     z-index: 2;
}

#avatarPlaceHolder{
     width: 110px;
     height: 110px;
     left: 50%;
     top: 15%;
     position: absolute;
     transform: translate(-50%, -50%);
     border-radius: 100%;
     border-style: solid;
     border-color: #69A7CC;
     border-width: 5px;
     z-index: 3;
}

#avatarImage{
     position: absolute;
     z-index: 4;
     top: 15%;
     left: 50%;
     font-size: 100px;
     transform: translate(-50%, -50%);
     display: block;
     color: #69A7CC;
}

#selfPicHolder {
     position: absolute;
     z-index: 4;
     top: 15%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: block;
     width: 100px;
     height: 100px;
     border-radius: 100%;
}

#homeCard{
     position: absolute;
     top: 10%;
     z-index: 1;
     width: 97%;
}

.card, .list-inset {
     border-radius: 10px;
}

.card .item {
     background-color: #003B70;
     color: #fff;
}

#welcomeMessage {
     text-align: center;
}

b, strong {
     font-size: 18px;
     color: #fff;
}

.item p {
     color: #69A7CC;
}

.button.button-positive {
     background-color: #003B70;
     color: #fff;
}

/***************************
**My Info tab page styling**
***************************/
#myInfoAvatar {
     height: 150px;
}
